#sidebar_container {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    width: 30%;
    min-width: 290px;
    height: 100%;
    margin-right: -30%;
    right: 0;
    z-index: 10;
    /* box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.12); */
    box-shadow: -5px 0 20px -5px rgba(179, 179, 179, 0.274);
}

#sidebar_container.open {
    margin-right: 0%;
}

#sidebar {
    /* padding: 20px; */
    padding-top: 90px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

/* content style */

/* #sidebar h2 {
    padding: 2em;
    padding-left: 80px;
    color: #fff;
    background: #fff;
    font-weight: 300;
    font-size: 1.15em;
    font-family: 'Alegreya Sans SC', sans-serif;
    letter-spacing: .02em;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
} */

/* 
#sidebar ul li a {
    display: block;
    font-family: 'Alegreya Sans SC', sans-serif;
    padding: 1.5em 1em 1.5em 1em;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    letter-spacing: 0.2em;
    font-size: 1.1em;
    font-weight: 400;
    -webkit-transition: all 0.3s, box-shadow 0.3s;
    transition: all 0.25s, box-shadow 0.3s ease;
} */

/* TODO: sottolineatura on hover */

#sidebar ul li {
    /* margin-left: 100px; */
    opacity: .6;
    text-decoration: none;
    list-style-type: none;
    /* max-height: 50px; */
    height: 50px;
    /* transition: all .3s ease; */
    /* cursor: pointer; */
    box-shadow: 1px 1px 2px rgba(163, 163, 163, 0.12);
    /* transition-delay: .05s; */
    overflow: hidden;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

/* #sidebar ul li:hover #sidebar ul li:after {
    width: 90%;
    transition: 0.3s ease all;
} */

#sidebar ul li:hover {
    /* background: rgba(0, 0, 0, 1); */
    /* height: 60px;
    line-height: 60px; */
    /* color: #ffffff; */
}

/*SIDEBAR*/

/* #sidebar {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

#sidebar.open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
} */

* {
    margin: 0;
    padding: 0;
}

#sidebar.open h2 {
    margin-left: 0;
    margin-top: 0;
    color: #272727;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}

#sidebar.open ul li {
    opacity: 1;
    filter: alpha(opacity=100);
    margin-left: 0px;
}

.menu-icon {
    margin-right: 28px;
}

.menu-icon-arrow {
    display: inline-block;
    position: absolute;
    right: 7%;
    color: #3c3c3c;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

#sidebar ul li a:hover {
    letter-spacing: .23em;
}

#sidebar ul li a:hover .menu-icon-arrow {
    right: 4%;
    color: #fff;
}

#sidebar ul li a.active {
    letter-spacing: .23em;
    background: rgb(0, 0, 0);
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
    color: #fff;
}

#sidebar ul li a.active .menu-icon-arrow {
    right: 4%;
    color: #fff;
}

.visible {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}

/* Material panel */

#sidebar li.open {
    max-height: 100%;
}

#sidebar .group-button {
    width: 100%;
    height: 50px;
    display: block;
    line-height: 50px;
    /* padding-left: 20px; */
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-left: 20px;
    cursor: pointer;
}

#sidebar .group-label {
    display: inline-block;
    position: relative;
}

#sidebar .group-label::after {
    content: "";
    position: absolute;
    /* z-index: -1; */
    left: 0;
    width: 0;
    bottom: 10px;
    background: #000;
    height: 2px;
    transition: width 0.2s ease-out;
}

#sidebar .group-button:hover .group-label::after {
    /* left: 0; */
    right: auto;
    width: 30px;
}

#sidebar .group.open .group-label::after {
    right: auto;
    width: 100%;
}

#sidebar .group-set-material-label {
    font-family: FuturaPT-Book, sans-serif;
    text-transform: capitalize;
    color: #666666;
    font-size: 0.9em;
    /* margin-left: 200px; */
    float: right;
    text-align: right;
}

#sidebar .group-set-material-label::after {
    content: "→";
    display: inline-block;
    /* position: absolute; */
    margin-left: 20px;
    margin-right: 20px;
    /* margin-left: 30px; */
    transition: all .3s ease;
}

#sidebar .group.open .group-set-material-label::after {
    /* transform-origin: left; */
    transform: translate(0%, 0%) rotateZ(90deg);
}

#sidebar .material-panel {
    background-color: #fff;
    width: 100%;
    height: auto;
    display: block;
    padding: 10px;
    /* background-color: aqua;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.12); */
    box-shadow: inset 0px 11px 6px -10px rgba(179, 179, 179, 0.274), inset 0px -11px 6px -10px rgba(179, 179, 179, 0.274);
}

#sidebar .material-panel .material {
    background-color: #fff;
    display: inline-block;
    cursor: pointer;
    width: 90px;
    height: 90px;
    padding: 5px;
    margin: 5px;
    margin-right: 10px;
    margin-top: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0);
    transition: all .5s ease-in-out;
}

.material-label::after {
    content: "";
    position: relative;
    display: block;
    /* z-index: -1; */
    left: 0;
    width: 0;
    bottom: -8px;
    /* margin-top: 10px; */
    /* top: ; */
    background: #000;
    height: 2px;
    transition: width 0.2s ease-out;
}

.material:hover .material-label::after {
    /* left: 0; */
    right: auto;
    width: 50%;
}

.material.set .material-label::after {
    right: auto;
    width: 100%;
}

#sidebar .material-panel .material.set .material-label {
    color: black;
}

#sidebar .material-panel .material.set .material-preview img {
    filter: grayscale(0);
}

#sidebar .material-panel .material .material-preview img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 3px rgb(110, 110, 110);
    filter: grayscale(80%);
    transition: filter .3s ease-in-out;
}

#sidebar .material-panel .material:hover img {
    filter: grayscale(0);
}

#sidebar .material-panel .material:hover .material-label {
    color: black;
}

#sidebar .material-panel .material .material-label {
    line-height: 15px;
    font-size: 0.8em;
    text-align: center;
    display: block;
    padding-top: 8px;
    margin: 0 auto;
    font-weight: 100;
    font-family: FuturaPT-Book, sans-serif;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #666666;
    transition: all .3s ease-in-out;
}

.collapse span {
    font-family: FuturaPT-Book, sans-serif;
    text-transform: lowercase;
    font-style: italic;
    font-size: 0.8em;
    color: #888888;
    display: block;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: -20px;
    cursor: pointer;
    width: 60px;
    transition: color .3s ease-in-out;
}

.collapse span:hover {
    color: #000;
}

.collapse span:active {
    /* text-decoration: underline; */
    font-weight: 600;
}
